/**********************************
GENERAL
***********************************/

body {
  /*background: url('../images/sunsets.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;*/
  background: url('../images/sunsets.jpg') repeat fixed center center / cover rgba(0, 0, 0, 0);
  background-color: #fff;
  color: #000;
}

.summary {
	margin: 40px 0 0 0;
    border-radius: 0px 15px 15px 0px;
	background-color: #669999;
    padding: 20px 0 0 20px; 
    width: 35%;
    height: 100%; 
	display: block;
	background: rgba(102, 153, 153, 0.75);
	float: left;
	/*position: relative;
	bottom: 0;*/
	
}

#secondary-heading {
	background-color: #003333;
	padding: 10px 10px 10px 10px; 
	border-radius: 5px 0 0 5px;
    margin: 0 0 10px 0;
	
}


h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 51px;
    font-size: 46px;
    margin: 0 0 23px 0;
	color: #003333;
    }
	
h2 {
	font-family: "Roboto", "Helvetica", sans-serif;    
	font-weight: 400;
    font-size: 20px;
    line-height: 23px;
	color: #fff;
    }
	
p {
	font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 18px;
	font-weight: 400;
    line-height: 23px;
    margin: 0 0 23px 0;
	color: #003333;
    }
	
dl {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
	color: #003333;
	margin: 10px 0px;
	}
dt {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
	text-transform: uppercase;
    line-height: 18px;
	color: #990000;
	text-decoration: none;

	}
	dt a {color:#003333; text-decoration: underline;}
	dt a:hover {color:#FFA300; text-decoration: underline;}
	
	dd{
		padding: 5px 0;
		
	}
	// Variables
	
	@link-color: #003333;
	@link-active-color: #003333;
	@link-hover-color: darken(@link-color, 15%);
	@link-visited-color: darken(@link-color, 15%);

	// Usage
	a {
	  color: @link-color;
	  text-decoration: none;

	  &:visited {
	    color: @link-visited-color;
	    text-decoration: underline;
	  }
	  
	  &:hover {
	    color: @link-hover-color;
	    text-decoration: underline;
	  }
	  
	  &:active {
	    color: @link-active-color;
	    text-decoration: underline;
	  }
	  
	}
	
/**********************************
FOOTER
***********************************/


